/* Variable */
:root {
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #dfdfdf;
  --blue-color: #5a77ff;
  --pink-color: #bc7198;
  --orange-color: #ffc593;
}
* {
  margin: 0;
  padding: 0;
}
a {
  font-size: 0.8rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
  text-decoration: none;
}
a:not(.get--invite__btn):hover {
  opacity: 0.5;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
h1,
h2 {
  letter-spacing: 0.417rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-transform: uppercase;
}
.arrow--white {
  position: relative;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  opacity: 1;
}

.arrow--white::before {
  content: "";
  width: 3rem;
  height: 1.25rem;
  background-image: url(./../src/icons/arrow-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: -3.5rem;
}
.arrow--black {
  position: relative;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  opacity: 1;
}

.arrow--black::before {
  content: "";
  width: 3rem;
  height: 1.25rem;
  background-image: url(./../src/icons/arrow-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: -3.5rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-aic {
  align-items: center;
}
.flex-ais {
  align-items: flex-start;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-jcc {
  justify-content: center;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.5rem 0;
}
.header ul li a {
  text-transform: uppercase;
  color: var(--black-color);
  transition: opacity 0.25s ease-in-out;
}
.get--invite__btn {
  text-transform: uppercase;
  background: var(--black-color);
  color: var(--white-color);
  padding: 0.625rem 2rem;
  transition: all 0.5s ease-in-out;
}
.get--invite__btn:hover {
  background: var(--grey-color);
  color: var(--black-color);
}
/* Hero */
:where(.hero__container, .stories, .design) {
  height: 600px;
  overflow: hidden;
}
:where(.hero__container, .stories, .design) .typography__col {
  height: 100%;
  padding: 0 5rem;
}
:where(.hero__container, .stories, .design) .image__col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__container .typography__col {
  background: var(--black-color);
  position: relative;
}
.hero__container .typography__col::before {
  content: "";
  position: absolute;
  left: 0;
  width: 5px;
  height: 40%;
  background-image: linear-gradient(
    var(--blue-color),
    var(--pink-color),
    var(--orange-color)
  );
}
.hero__container .image__col {
  flex: 2;
  width: 100%;
}

.hero__container :has(h1, p, a) {
  color: var(--white-color);
}
.hero__container p {
  margin-top: 1rem;
  opacity: 0.5;
}
