/* Variable */
:root {
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #dfdfdf;
  --blue-color: #5a77ff;
  --pink-color: #bc7198;
  --orange-color: #ffc593;
}
* {
  margin: 0;
  padding: 0;
}
a {
  font-size: 0.8rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
  text-decoration: none;
}
a:not(.get--invite__btn):hover {
  opacity: 0.5;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
h1,
h2 {
  letter-spacing: 0.417rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-transform: uppercase;
}
.arrow--white {
  position: relative;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  opacity: 1;
}

.arrow--white::before {
  content: "";
  width: 3rem;
  height: 1.25rem;
  background-image: url(./../src/icons/arrow-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: -3.5rem;
}
.arrow--black {
  position: relative;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  opacity: 1;
}

.arrow--black::before {
  content: "";
  width: 3rem;
  height: 1.25rem;
  background-image: url(./../src/icons/arrow-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: -3.5rem;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-aic {
  align-items: center;
}
.flex-ais {
  align-items: flex-start;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-jcc {
  justify-content: center;
}
.flex-jcs {
  justify-content: flex-start;
}
.flex-jcsb {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.5rem 0;
}
.header ul li a {
  text-transform: uppercase;
  color: var(--black-color);
  transition: opacity 0.25s ease-in-out;
}
.get--invite__btn {
  text-transform: uppercase;
  background: var(--black-color);
  color: var(--white-color);
  padding: 0.625rem 2rem;
  transition: all 0.5s ease-in-out;
}
.get--invite__btn:hover {
  background: var(--grey-color);
  color: var(--black-color);
}
/* Hero */
:where(.hero__container, .stories, .design) {
  height: 600px;
  overflow: hidden;
}
:where(.hero__container, .stories, .design) .typography__col {
  height: 100%;
  padding: 0 5rem;
}
:where(.hero__container, .stories, .design) .image__col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__container .typography__col {
  background: var(--black-color);
  position: relative;
}
.hero__container .typography__col::before {
  content: "";
  position: absolute;
  left: 0;
  width: 5px;
  height: 40%;
  background-image: linear-gradient(
    var(--blue-color),
    var(--pink-color),
    var(--orange-color)
  );
}
.hero__container .image__col {
  flex: 2;
  width: 100%;
}

.hero__container :has(h1, p, a) {
  color: var(--white-color);
}
.hero__container p {
  margin-top: 1rem;
  opacity: 0.5;
}
/* Stories card */
.stories__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.single--story {
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}
.single--story:hover {
  transform: translateY(-2rem);
}
.single--story:hover::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    150deg,
    var(--blue-color),
    var(--pink-color),
    var(--orange-color)
  );
  min-width: 500px;
  height: 6px;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.single--story::before {
  content: "";
  position: absolute;
  min-width: 600px;
  height: 100%;
  background: linear-gradient(#0000, #000);
}
single--story img {
  width: 100%;
  height: 400px;
}
.story--content {
  position: absolute;
  bottom: 0;
  z-index: 999;
  padding: 2.5rem;
  width: calc(100% - 5rem);
  margin-bottom: 1.5rem;
}
.story--content:has(h3, p, a) {
  color: var(--white-color);
}
.divider--line {
  position: relative;
  overflow-y: auto;
  height: 1px;
  margin-top: 1rem;
}
.divider--line span::before {
  content: "";
  width: 300px;
  height: 1px;
  background: var(--white-color);
  position: absolute;
  top: 10px;
}
.story--content a {
  color: var(--white-color);
  text-transform: uppercase;
  position: relative;
  bottom: -20px;
  display: block;
}
.story--content a:hover {
  opacity: 1;
}
.single--story a::before {
  content: "";
  width: 50px;
  height: 20px;
  background-image: url(./../src/icons/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
}
.single--story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Benefits */
.benefit {
  gap: 2rem;
  padding: 5rem 0;
}
.benefit .feature--img {
  height: 5rem;
  margin-bottom: 1.8rem;
}
.benefit .content h3 {
  margin-bottom: 1.3rem;
}
.benefit .content p {
  text-align: center;
}
/* Footer */
footer {
  padding: 3rem 0;
  background: var(--black-color);
}
.footer {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(min-content, 3fr) minmax(
      max-content,
      1fr
    );
  grid-template-rows: 2rem 9rem min-content;
  color: var(--white-color);
}
.footer--item:first-child {
  grid-column: 1;
}
.footer--item:nth-child(2) {
  grid-area: 3/1 / span 1 / span 1;
}
.footer--item:nth-child(3) {
  grid-area: 1/2 / span 3 / span 1;
  padding-left: 7rem;
}
.footer--item:nth-child(4) {
  grid-area: 1/3 / span 1 / span 1;
  justify-self: end;
}
.footer--item:nth-child(5) {
  grid-area: 3/3 / span 1 / span 1;
  justify-self: end;
}
.footer--item .arrow--white {
  left: -3rem;
}
.footer--item ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer--item ul li a {
  color: var(--white-color);
}
.footer--item ul li a:active {
  opacity: 0.5;
}
.footer--social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8625rem;
}
/* Stories Page */
/* --- Hero --- */
section.stories--banner {
  background-image: url(./../src/background/moon-of-appalacia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.storis__hero {
  height: 600px;
}
.storis__hero .tpography--col {
  max-width: 30%;
  height: 100%;
  padding-left: 1.5rem;
}
.stories--banner h1 {
  color: var(--white-color);
  line-height: 1.1;
}
.storis__hero :where(span, p, a) {
  color: var(--white-color);
  opacity: 0.5;
}
:where(.storis__hero) span:first-child {
  text-transform: uppercase;
  font-size: 0.8625rem;
  line-height: 2;
}
:where(.storis__hero) p {
  padding-top: 1rem;
}
.story--content span {
  font-size: 0.8625rem;
  opacity: 0.5;
  line-height: 2;
}
.single--story p {
  margin-top: 0.5rem;
}
.features--hero .hero__container .image__col {
  display: flex;
  height: 100%;
}
.features--container .benefit:first-child {
  padding-bottom: 0;
}
section.cta__section {
  background-image: url(./../src/background/bg-beta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cta--container {
  gap: 10rem;
  padding: 5rem 2rem;
}
.cta--container :where(.typography--col, .cta--btn__col) {
  flex: 1;
}
.cta--container .cta--btn__col {
  text-align: end;
}
.cta--container :where(h2, a) {
  color: var(--white-color);
}
.cta--container .cta--btn__col a {
  left: -5rem;
}
.features--container .benefit {
  padding-left: 2rem;
  padding-right: 2rem;
}
/* Pricing */
/* .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21rem;
  margin: auto auto 4.8rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.plan .selected {
  opacity: 1;
}
.plan--label {
  opacity: 0.5;
  transition: all 0.2s;
}
.plan--change input:checked + .checkbox--circle:before {
  background-color: #fff;
  transform: translate(3.2rem);
}
.plan input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
}
.plan--change {
  width: 6rem;
  height: 2.6rem;
  display: inline-block;
  position: relative;
}
.checkbox--circle {
  cursor: pointer;
  background-color: #dfdfdf;
  border-radius: 50px;
  transition: all 0.2s;
  position: absolute;
  inset: 0;
}
.checkbox--circle::before {
  content: "";
  height: 2rem;
  width: 2rem;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.2s;
  position: absolute;
  bottom: 0.3rem;
  left: 0.3rem;
} */
.pricing--plan__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plan {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Style the switch */
.plan--change {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.plan--change input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey; /* Default background color */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black; /* Default round color */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black; /* Background color when checked */
}

input:checked + .slider:before {
  background-color: white; /* Round color when checked */
  transform: translateX(
    30px
  ); /* Shift round circle to the right when checked */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Pricing Plans */
.pricing--plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 5rem 0;
}
.plan--container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.plan--container .typography--col,
.plan--container .price--col {
  text-align: center;
}
.basic--plan,
.business--plan {
  background: var(--grey-color);
}
.pro--plan {
  background: var(--black-color);
  height: calc(100% + 4rem);
  margin-top: -4rem;
}
/* Mobile */
@media (max-width: 500px) {
  header ul {
    display: none;
  }
  h1,
  h2 {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 2px;
  }
  :where(.hero__container, .stories, .design) {
    flex-direction: column;
    height: 100%;
  }
  :where(.hero__container, .stories, .design) .typography__col {
    padding: 3rem 2rem;
  }
  .hero__container .typography__col::before {
    top: 0;
    height: 5px;
    width: 40%;
    left: 2rem;
    background-image: linear-gradient(
      150deg,
      var(--blue-color),
      var(--pink-color),
      var(--orange-color)
    );
  }
  .stories {
    flex-direction: column-reverse;
  }
  .stories__card {
    grid-template-columns: 1fr;
  }
  .benefit {
    flex-direction: column;
    padding: 3rem 2rem;
  }
  /* Footer */
  .footer {
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer--item {
    grid-area: auto !important;
    justify-self: center;
  }
  .footer--item:nth-child(3) {
    padding-left: 0;
  }
  .footer--item ul {
    align-items: center;
    gap: 1.4rem;
  }
  .footer--item:nth-child(4) {
    justify-self: center;
    margin-left: 2rem;
  }
  .footer--item:nth-child(5) {
    justify-self: center;
  }
  .storis__hero .tpography--col {
    max-width: 100%;
    padding: 0 1.5rem;
  }
  .cta--container {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 5rem 1.5rem;
  }
}
/* Tablet */
@media ((min-width: 501px) and (max-width: 900px)) {
  .header {
    padding: 1.5rem 2rem;
  }
  :where(.hero__container, .stories, .design) .image__col {
    display: flex;
    height: 100%;
    flex: 1 !important;
  }
  .stories__card {
    grid-template-columns: repeat(2, 1fr);
  }
  .benefit {
    flex-direction: column;
  }
  .benefit .benefit-content {
    width: 70%;
  }
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer {
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer--item {
    grid-area: auto !important;
    justify-self: center;
  }
  .footer--item:nth-child(3) {
    padding-left: 0;
  }
  .footer--item ul {
    align-items: center;
    gap: 1.4rem;
  }
  .footer--item:nth-child(4) {
    justify-self: center;
    margin-left: 2rem;
  }
  .footer--item:nth-child(5) {
    justify-self: center;
  }
  .storis__hero .tpography--col {
    max-width: 50%;
  }
  .cta--container {
    gap: 0rem;
    padding: 5rem 2rem;
  }
  .cta--container .cta--btn__col a {
    left: -3rem;
  }
}
